<div class="container-fluid">
  <div class="row no-gutter popup-gallery">
    <div class="col-lg-4 col-sm-6 tarjeta-donacion">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div>nombre ONG</div>
            <br>
            <br>
            <div class="project-category">
              30.000 LIROS DE LECHE NIDO MES DE AGOSTO
            </div>
            <hr>

            <div class="project-name">
              Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor....
            </div>
             <hr>
             <div style="margin-right: 0px">META: 8 Unidades</div>
            <div class="progress div-redondeado" style="height:30px">
              <div class="progress-bar progress-bar-completo " style="width: 30%;height:30px">
                <div style="margin-top: 7px">3</div>  
              </div>
              <div class="progress-bar progress-bar-prometido div-redondeado-derecha" style="width: 25%;height:30px">
                 <div style="margin-top: 7px">5</div>  
              </div>
            </div>
            NOS FALTAN: 4 Unidades
            <br>
            <br>

            <a href="" style="background-color: #ff0000;" class="btn btn-danger btn-xl col-lg-10">DONAR</a>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 tarjeta-donacion">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div>nombre ONG</div>
            <br>
            <br>
            <div class="project-category">
              30.000 LIROS DE LECHE NIDO MES DE AGOSTO
            </div>
            <hr>

            <div class="project-name">
              Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor....
            </div>
             <hr>
             <div style="margin-right: 0px">META: 8 Unidades</div>
            <div class="progress div-redondeado" style="height:30px">
              <div class="progress-bar progress-bar-completo " style="width: 30%;height:30px">
                <div style="margin-top: 7px">3</div>  
              </div>
              <div class="progress-bar progress-bar-prometido div-redondeado-derecha" style="width: 25%;height:30px">
                 <div style="margin-top: 7px">5</div>  
              </div>
            </div>
            NOS FALTAN: 4 Unidades
            <br>
            <br>

            <a href="" style="background-color: #ff0000;" class="btn btn-danger btn-xl col-lg-10">DONAR</a>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 tarjeta-donacion">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div>nombre ONG</div>
            <br>
            <br>
            <div class="project-category">
              30.000 LIROS DE LECHE NIDO MES DE AGOSTO
            </div>
            <hr>

            <div class="project-name">
              Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor....
            </div>
             <hr>
             <div style="margin-right: 0px">META: 8 Unidades</div>
            <div class="progress div-redondeado" style="height:30px">
              <div class="progress-bar progress-bar-completo " style="width: 30%;height:30px">
                <div style="margin-top: 7px">3</div>  
              </div>
              <div class="progress-bar progress-bar-prometido div-redondeado-derecha" style="width: 25%;height:30px">
                 <div style="margin-top: 7px">5</div>  
              </div>
            </div>
            NOS FALTAN: 4 Unidades
            <br>
            <br>

            <a href="" style="background-color: #ff0000;" class="btn btn-danger btn-xl col-lg-10">DONAR</a>
          </div>
        </div>
    </div>

  </div>
</div>